.App {
    width: 30%;
    border: 1px solid black;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
}

.SearchPanel {
    width: 100%;
    position: relative;
}

.SearchPanel__input-container {
    display: inline-block;
}

.SearchPanel__button {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.FilterInput {
    width: 300px;
}

.FilterInput__Container {
    display: flex;
    justify-content: space-between;
}

.Paginator {
    display: flex;
    justify-content: center;
}

.Paginator__label {
    margin-right: 10px; 
}

.Content {
    margin: 20px 0px;
    width: 100%;
    height: 200px;
    border: 1px solid #dfdada;
    overflow-y: auto;
}

.Item {
    border-bottom: 1px solid black;
    padding: 2px 5px;
    margin: 0px 5px;
    display: flex;
    justify-content: space-between;
}